# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/artifacts/learning_java_ee_war.xml
/artifacts/learning_java_ee_war_exploded.xml
/libraries/Maven__com_sun_mail_javax_mail_1_6_0.xml
/libraries/Maven__javax_activation_activation_1_1.xml
/libraries/Maven__javax_javaee_api_8_0.xml
